# Node.js
node_modules/

# npm log files
npm-debug.log
yarn-debug.log
yarn-error.log

# dotenv environment variables file
.env

# Build output
build/
dist/

# VSCode settings
.vscode/

# Mac system files
.DS_Store

# Log files
*.log
